# `Aula 2`

### Restaurante Serenatto

In [1]:
import pandas as pd

In [2]:
# impontando base de dados
df_1 = pd.read_csv("arquivos/serenatto_2sem_2023.csv", sep=",")
df_1

       id        data           produto  valor   metodo_pagamento
0    2720  2023-07-01  Risoto de Funghi   13.0   Cartão de Débito
1    2721  2023-07-02          Tiramisù   10.0   Cartão de Débito
2    2722  2023-07-02          Tiramisù   10.0  Cartão de Crédito
3    2723  2023-07-02       Ratatouille    8.5                PIX
4    2724  2023-07-03       Ratatouille    8.5           Dinheiro
..    ...         ...               ...    ...                ...
851  3571  2023-12-31            Panini    7.5                PIX
852  3572  2023-12-31  Pizza Margherita   12.0           Dinheiro
853  3573  2023-12-31        Bruschetta    7.0           Dinheiro
854  3574  2023-12-31           Gnocchi   10.5   Cartão de Débito
855  3575  2023-12-31           Macaron    3.5  Cartão de Crédito

[856 rows x 5 columns]

In [15]:
# Somantório de todas as vendas do produto "Ratatouille" do período
df_1.query("produto == 'Ratatouille'")["valor"].sum()

# Frequência dos métodos de pagamento para o produto "Ratatouille"
df_1.query("produto == 'Ratatouille'")["metodo_pagamento"].value_counts()

# dados referentes ao produto "Tiramisù"
df_1.query("produto == 'Tiramisù'")

# linhas em que o valor do produto é MAIOR que 10 e o método de pagamento é qualquer um, EXCETO DINHEIRO
df_1.query("valor > 10 and metodo_pagamento != 'Dinheiro'")

       id        data           produto  valor   metodo_pagamento
0    2720  2023-07-01  Risoto de Funghi   13.0   Cartão de Débito
5    2725  2023-07-03    Salada Niçoise   11.0                PIX
7    2727  2023-07-04           Lasanha   11.5                PIX
8    2728  2023-07-04           Gnocchi   10.5                PIX
18   2738  2023-07-06    Salada Niçoise   11.0   Cartão de Débito
..    ...         ...               ...    ...                ...
822  3542  2023-12-26           Lasanha   11.5   Cartão de Débito
830  3550  2023-12-28           Lasanha   11.5                PIX
831  3551  2023-12-28           Lasanha   11.5                PIX
836  3556  2023-12-28    Salada Niçoise   11.0  Cartão de Crédito
854  3574  2023-12-31           Gnocchi   10.5   Cartão de Débito

[158 rows x 5 columns]